/* roboto-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v32-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-500 - latin */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v32-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v32-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
    --font-family: "Roboto", "Arial", sans-serif;
    --hero-bg: #F3D7B7;
    --light-gray: #F8F8F2;
    --gray: #F5F5EC;
    --brown: #C99B67;
    --green: #0A775F;
    --text-color: #333;
}

html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*::before,
::after {
    box-sizing: inherit;
}

*:focus {
    outline: 2px dotted var(--green);
    outline-offset: 3px;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    font-family: var(--font-family);
    height: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

.button {
    padding: 16px 24px;
    border-radius: 100px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
}

.button-green {
    color: #fff;
    font-size: 16px;
    background-color: var(--green);
}
.button-green.dropdown {
    display: flex;
    align-self: end;
}
.button-brown {
    --green: var(--brown);
    color: #fff;
    background-color: var(--brown);
    opacity: 1;
}

.button:hover {
    opacity: 0.8;
}

.button:active {
    opacity: 0.6;
}

.container {
    width: 100%;
    max-width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}


/* Site Header */
.header-hero-wrapper {
    background-image: url("../img/hero-header-bg.jpg");
    background-size: contain;
    background-color: var(--hero-bg);
}

.header {
    padding: 40px 0 45px 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.site-header-logo-link {
    display: flex;
    flex-shrink: 0;
    margin-right: 10px;
}

.site-header-logo-link:hover {
    opacity: 0.8;
}

.site-header-logo-link:active {
    opacity: 0.6;
}

.site-header-logo-img {
    width: 235px;
    height: 24px;
}

.sitenav-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sitenav-item:not(:last-child) {
    margin-right: 40px;
}

.sitenav-link {
    color: var(--text-color);
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    white-space: nowrap;
}

.sitenav-link.active {
    color: var(--green);
}

.sitenav-link:hover {
    opacity: 0.8;
    color: var(--green);
}

.sitenav-link:active {
    opacity: 0.6;
    color: var(--text-color);
}

/* Hero section */
.hero-container {
    display: flex;
    padding: 0;
}

.hero-content {
    width: 100%;
    max-width: 730px;
    padding: 110px 133px 250px 150px;
}

.hero-header {
    color: #000;
    font-size: 64px;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: 0px;
    margin: 0;
    margin-bottom: 24px;
}

.hero-text {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    margin: 0;
}

.hero-text:not(:last-child) {
    margin-bottom: 34px;
}

.hero-img {
    width: 710px;
    height: 596px;
}

.hero-img-index {
    height: 696px;
}

/* Main content */
.main-content {
    flex-grow: 1;
    padding-top: 20px;
    padding-bottom: 50px;
}

/* Index collection */
.index-collection-inner {
    background-color: var(--light-gray);
    background-image: url("../img/index-collection-bg.jpg");
    padding: 50px 143px;
    margin-bottom: 20px;
}

.index-collection-heading {
    color: #000;
    font-size: 50px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0px;
    text-align: center;
    margin: 0;
    margin-bottom: 81px;
}

.index-collection-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.index-collection-item {
    display: flex;
    align-items: center;
}

.index-collection-item:nth-child(even) {
    flex-direction: row-reverse;
}

.index-collection-img {
    flex-shrink: 0;
    width: 450px;
    height: 375px;
    object-fit: cover;
}

.index-collection-info {
    padding: 120px 129px;
}

.index-collection-title {
    color: var(--text-color);
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: 0px;
    text-align: left;
    margin: 0;
    margin-bottom: 10px;
}

.index-collection-text {
    color: var(--text-color);
    font-size: 22px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0px;
    text-align: left;
    margin: 0;
}

/* Index features */
.index-features {
    margin-bottom: 50px;
}

.index-features-inner {
    background-image: url("../img/features-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 703px;
    padding: 50px 19px;
}

.index-features-heading {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    line-height: 59px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 10px;
}

.index-features-lead {
    color: #fff;
    width: 100%;
    max-width: 581px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    margin: 0 auto 80px;
}

.index-features-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    margin-left: -15px;
}

.index-features-item {
    margin-left: 20px;
    width: calc(100% / 3 - 20px);
}

.index-features-img {
    width: 433px;
    height: 500px;
    margin-bottom: 28px;
    object-fit: cover;
    flex-shrink: 0;
}

.index-features-title {
    color: var(--text-color);
    font-size: 30px;
    font-weight: 500;
    line-height: 35px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
}

.index-features-text {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin: 0;
}

/* How it works */
.how-it-works-inner {
    background-image: url("../img/functions-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 826px;
    padding: 50px 30px;
    text-align: center;
}

.how-it-works-heading {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    line-height: 59px;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 80px;
}

.how-it-works-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: start;
    margin-left: -20px;
    margin-bottom: 60px;
    counter-reset: how-it-works;
}

.how-it-works-item {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - 20px);
    margin-left: 20px;
    text-align: start;
    counter-increment: how-it-works;
}

.how-it-works-info {
    display: flex;
    flex-direction: column;
    background-color: var(--light-gray);
    padding: 20px 20px 30px;
}

.how-it-works-info::before {
    text-align: right;
    content: "0"counter(how-it-works);
    color: var(--text-color);
    font-size: 64px;
    font-weight: 400;
    line-height: 75px;
    opacity: 0.8;
    margin-bottom: 45px;
}

.how-it-works-item::before {
    content: "";
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    border: 4px solid var(--brown);
    background-color: var(--light-gray);
    margin-bottom: 20px;
}

.how-it-works-step-title {
    color: var(--text-color);
    font-size: 40px;
    font-weight: 500;
    line-height: 47px;
    width: 250px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
}

.how-it-works-text {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin: 0;
}

/* Footer */
.footer {
    padding: 65px 65px 65px 50px;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-footer-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-footer-item:not(:last-child) {
    margin-right: 30px;
}

.social-footer-link i {
    color: var(--text-color);
    font-size: 30px;
}

.footer-nav-link {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    flex-shrink: 0;
}
.footer-nav-link:hover{
    opacity: 0.8;
    transition: color 0.3s ease;
}
.footer-nav-link:active{
    opacity: 0.6;
    transition: color 0.3s ease;
}

/* ABOUT US PAGE */
.index-commitment {
    margin-bottom: 160px;
}

.commitment-inner {
    display: flex;
    align-items: center;
    background-image: url("../img/index-collection-bg.jpg");
    background-size: 100% 740px;
    justify-content: space-between;
    padding: 160px 0 200px 0;
}

.commitment-content {
    width: 100%;
    max-width: 626px;
    padding: 0 64px 0 165px;
}

.index-commitment-img {
    width: 360px;
    height: 364px;
    padding-left: 165px;
}

.commitment-heading {
    color: #000;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 24px;
}

.commitment-text {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
}

/* Qualities */
.quality-container {
    display: flex;
    background-image: url("../img/features-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 510px;
    background-repeat: no-repeat;
    padding: 100px 0 90px 0;
}

.quality-content {
    width: 100%;
    max-width: 639px;
    display: flex;
    flex-direction: column;
    padding: 0 30px 0 143px;
    flex-grow: 1;
}

.index-features-heading.quality-heading {
    margin-top: 0;
    margin-bottom: 24px;
    text-align: left;
}

.index-features-lead.quality-text {
    margin: 0;
    text-align: left;
}

.quality-img {
    width: 550px;
    height: 500px;
    margin-top: -160px;
}

/* How it works */
.how-it-works-data {
    display: flex;
    background-color: var(--light-gray);
    padding: 20px 20px 30px;
}

.how-it-works-text-wrap.quality {
    display: flex;
    flex-direction: column;
    padding-top: 120px;
}

.how-it-works-text-wrap {
    display: flex;
    flex-direction: column;
    padding-top: 167px;
}

.how-it-works-item-pro {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - 20px);
    margin-left: 20px;
    text-align: start;
}

.how-it-works-data-img {
    width: 120px;
    height: 143px;
    display: inline-block;
}

.how-it-works-text.quality {
    width: 141px;
}

.how-it-works-list.quality {
    display: flex;
    align-items: center;
}

/* Preferences page */
.preferences{
    margin-bottom: 50px;
    display: flex;align-items: center;
}
.preferences-inner {
    display: flex;
    background-image: url("../img/index-collection-bg.jpg");
    background-size: 100% 1167px;
    padding: 50px 142px 50px 30px;
}
.preferences-list {
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: preferences;
    width: 100%;
    max-width: 650px;
}
.preferences-item {
    width: 200px;
    counter-increment: preferences;
}
.preferences-item:not(:last-child) {
    margin-bottom: 35px;
}
.preferences-link{
    color: var(--text-color);
    font-size: 28px;
    font-weight: 500;
    line-height: 33px;
    text-decoration: none;
    margin: 0;
}
.preferences-link:hover{
    color: #000;
    text-decoration: 3px underline var(--brown);
    text-decoration-style: dashed; 
}
.preferences-link::before {
    content: "0"counter(preferences);
    color: var(--text-color);
    margin-right: 5px;
}
.preferences-link:hover::before {
    opacity: 0.8;
    color: #000;
    text-decoration: 3px dotted var(--brown);
}

/* Dropdown */
.content {
    display: flex;
    flex-direction: column;
}
.dropdown-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    max-width: 650px;
}

.dropdown-item:not(:last-child){
    margin-bottom: 60px;
}
.show-more-heading {
    color: #000;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    margin: 0;
    margin-right: 45px;
    margin-bottom: 20px;
}

.prefences-dropdown-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.prefences-dropdown-item {
    background-color: var(--green);
    padding: 30px 16px 80px;
    width: 206px;
}

.prefences-dropdown-item:not(:last-child) {
    margin-right: 20px;
}

.preferences-dropdown-subtitle {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    margin-top: 0;  
    margin-bottom: 10px;
}

.preferences-dropdown-text {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
}
/* Show more */
.show-more-inner{
    display: flex;
    align-items: center;
}

.hidden {
    display: none;
}

/* Order summary */
.order-summary {
    background-color: var(--brown);
    margin-bottom: 20px;
}
.order-summary-inner {
    padding: 40px 20px;
}
.order-summary-subtitle {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 14px;
}
.order-summary-text {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
}
.order-summary span{
    color: var(--text-color);
}


@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
    .header-hero-wrapper {
        background-image: url("../img/hero-header-bg@2x.jpg");
    }

    .index-collection-inner {
        background-image: url("../img/index-collection-bg@2x.jpg");
    }

    .index-features-inner {
        background-image: url("../img/features-bg@2x.jpg");
    }

    .how-it-works-inner {
        background-image: url("../img/functions-bg@2x.jpg");
    }

    .commitment-inner {
        background-image: url("../img/index-collection-bg@2x.jpg");
    }

    .quality-container {
        background-image: url("../img/features-bg.jpg");
    }
}