/* roboto-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v32-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  /* roboto-500 - latin */
    @font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v32-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  /* roboto-700 - latin */
    @font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v32-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root{
    --font-family: "Roboto", "Arial", sans-serif;
    --hero-bg: #F3D7B7;
    --gray: #F5F5EC;
    --brown: #C99B67;
    --green: #086752;
    --text-color: #333;

}
html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
} 
*::before,
::after {
    box-sizing: inherit;
}

body{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    font-family: var(--font-family);
    height: 100%;
}

img{
    max-width: 100%;
    height: auto;
}

.container{
    width: 100%;
    max-width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}

.main-content{
    flex-grow: 1;
}

/* Site Header */
.header-hero-wrapper {
    background-image: url("../img/hero-header-bg.jpg");
}
.header {
    padding: 40px 0;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}
.site-header-logo-link{
    display: flex;
    flex-shrink: 0;
    margin-right: 10px;
}
.site-header-logo-link:hover{
    opacity: 0.8;
}
.site-header-logo-link:active{
    opacity: 0.6;
}
.site-header-logo-img {
    width: 235px;
    height: 24px;
}
.sitenav-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.sitenav-item:not(:last-child){
    margin-right: 40px;
}
.sitenav-link {
    color: var(--text-color);
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    white-space: nowrap;
}
.sitenav-link:hover{
    opacity: 0.8;
    color: var(--green);
}
.sitenav-link:active{
    opacity: 0.6;
    color: var(--text-color);
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    .header-hero-wrapper {
        background-image: url("../img/hero-header-bg@2x.jpg");
    }

}