/* roboto-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v32-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  /* roboto-500 - latin */
    @font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v32-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  /* roboto-700 - latin */
    @font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v32-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root{
    --font-family: "Roboto", "Arial", sans-serif;
    --hero-bg: #F3D7B7;
    --light-gray: #F8F8F2;
    --gray: #F5F5EC;
    --brown: #C99B67;
    --green: #0A775F;
    --text-color: #333;
}
html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
} 
*::before,
::after {
    box-sizing: inherit;
}
*:focus{
    outline: 2px dotted var(--green);
    outline-offset: 3px;
}
body{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    font-family: var(--font-family);
    height: 100%;
}

img{
    max-width: 100%;
    height: auto;
}
.button {
    padding: 16px 24px;
    border-radius: 100px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
}
.button:hover{
    opacity: 0.8;
}
.button{
    opacity: 0.6;
}
.button-green {
    color: #fff;
    font-size: 16px;
    background-color: var(--green);
}
.container{
    width: 100%;
    max-width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}


/* Site Header */
.header-hero-wrapper {
    background-image: url("../img/hero-header-bg.jpg");
    background-size: contain;
    background-color: var(--hero-bg);
}
.header {
    padding: 40px 0 45px 0;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}
.site-header-logo-link{
    display: flex;
    flex-shrink: 0;
    margin-right: 10px;
}
.site-header-logo-link:hover{
    opacity: 0.8;
}
.site-header-logo-link:active{
    opacity: 0.6;
}
.site-header-logo-img {
    width: 235px;
    height: 24px;
}
.sitenav-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.sitenav-item:not(:last-child){
    margin-right: 40px;
}
.sitenav-link {
    color: var(--text-color);
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    white-space: nowrap;
}
.sitenav-link:hover{
    opacity: 0.8;
    color: var(--green);
}
.sitenav-link:active{
    opacity: 0.6;
    color: var(--text-color);
}

/* Hero section */
.hero-container {
    display: flex;
    padding: 0;
}
.hero-content {
    width: 100%;
    max-width: 730px;
    padding: 110px 133px 250px 150px;
}
.hero-header {
    color: #000;
    font-size: 64px;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: 0px;
    margin: 0;
    margin-bottom: 24px;
}
.hero-text {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    margin: 0;
}
.hero-text:not(:last-child){
    margin-bottom: 34px;
}
.hero-img {
    width: 710px;
    height: 596px;
}
.hero-img-index{
    height: 696px;
}

/* Main content */
.main-content{
    flex-grow: 1;
    padding-top: 20px;
    padding-bottom: 50px;
}

/* Index collection */
.index-collection-inner {
    background-color: var(--light-gray);
    background-image: url("../img/index-collection-bg.jpg");
    padding: 50px 143px;
    margin-bottom: 20px;
}
.index-collection-heading {
    color: #000;
    font-size: 50px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0px;
    text-align: center;
    margin: 0;
    margin-bottom: 81px;
}
.index-collection-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.index-collection-item {
    display: flex;
    align-items: center;
}
.index-collection-item:nth-child(even){
    flex-direction: row-reverse;
}
.index-collection-img {
    flex-shrink: 0;
    width: 450px;
    height: 375px;
    object-fit: cover;
}
.index-collection-info {
    padding: 120px 129px;
}
.index-collection-title {
    color: var(--text-color);
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: 0px;
    text-align: left;
    margin: 0;
    margin-bottom: 10px;
}
.index-collection-text {
    color: var(--text-color);
    font-size: 22px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0px;
    text-align: left;
    margin: 0;
}
/* Index features */
.index-features {
}
.index-features-inner{
    background-image: url("../img/features-bg.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 703px;
    padding: 50px 30px;
}
.index-features-heading {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    line-height: 59px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 10px;
    }
.index-features-lead {
    color: #fff;
    width: 100%;
    max-width: 581px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    margin: 0 auto 80px;
}
.index-features-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    margin-left: -20px;
}
.index-features-item{
    margin-left: 20px;
    width: calc(100% / 3 - 20px);
}
.index-features-img {
    width: 433px;
    height: 500px;
    margin-bottom: 28px;
    object-fit: cover;
    flex-shrink: 0;
}
.index-features-title {
    color: var(--text-color);
    font-size: 30px;
    font-weight: 500;
    line-height: 35px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
}
.index-features-text {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin: 0;
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    .header-hero-wrapper {
        background-image: url("../img/hero-header-bg@2x.jpg");
    }
    .index-collection-inner {
        background-image: url("../img/index-collection-bg@2x.jpg");
    }
    .index-features-inner{
        background-image: url("../img/features-bg@2x.jpg");
    }
}