/* roboto-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v32-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  /* roboto-500 - latin */
    @font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v32-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  /* roboto-700 - latin */
    @font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v32-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root{
    --font-family: "Roboto", "Arial", sans-serif;
    --hero-bg: #F3D7B7;
    --gray: #F5F5EC;
    --brown: #C99B67;
    --green: #086752;
    --text-color: #333;

}
html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
} 
*::before,
::after {
    box-sizing: inherit;
}

body{
    display: flex;
    font-display: column;
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    font-family: var(--font-family);
    height: 100%;
}

img{
    max-width: 100%;
    height: auto;
}

.container{
    width: 100%;
    max-width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}

.main-content{
    flex-grow: 1;
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 

}